<div class="card">
  <div class="card-content collapse show">
    <div class="card-body">
      <form class="form">
        <div class="form-body">
          <h4 class="form-section form-title">
            <i class="ft-user"></i>
            THÔNG TIN TÀI KHOẢN
          </h4>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Tên khách hàng, công ty</label>
                <input type="text" class="form-control" placeholder="Nhập họ đệm" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Nhập địa chỉ email" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Số điện thoại</label>
                <input type="text" class="form-control" placeholder="Nhập số điện thoại" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Ngày sinh</label>
                <input type="date" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Chứng minh thư/ Mã số thuế</label>
                <input type="text" class="form-control" placeholder="Nhập số CMT" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Địa chỉ thường trú/ Địa chỉ xuất hóa đơn</label>
                <input type="text" class="form-control" placeholder="Nhập địa chỉ xuất hóa đơn" />
              </div>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-check-square-o"></i> Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
