.page-head .page-title {
    display: inline-block;
    float: left;
    padding: 5px 0 10px;
}
.page-head .page-title>h1 {
    color: #697882;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}