<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class=" navigation-header">
        <span>Marketing</span>
      </li>
      <li class="nav-item">
        <a href="chat-application.html" class="h-100 d-flex align-items-center w-100">
          <i class="fal fa-chart-pie-alt"></i>
          <span class="menu-title">Trang chủ</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="chat-application.html" class="h-100 d-flex align-items-center w-100">
          <i class="fal fa-chart-pie-alt"></i>
          <span class="menu-title">Danh sách contacts</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="chat-application.html" class="h-100 d-flex align-items-center w-100">
          <i class="fal fa-chart-pie-alt"></i>
          <span class="menu-title">Tìm kiếm contacts</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="chat-application.html" class="h-100 d-flex align-items-center w-100">
          <i class="fal fa-chart-pie-alt"></i>
          <span class="menu-title">Contacts đăng ký lại</span>
        </a>
      </li>
    </ul>
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class=" navigation-header">
        <span>Facebook</span>
      </li>
      <li class="nav-item">
        <a href="chat-application.html" class="h-100 d-flex align-items-center w-100">
          <i class="fal fa-chart-pie-alt"></i>
          <span class="menu-title">Tài khoản quảng cáo</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="chat-application.html" class="h-100 d-flex align-items-center w-100">
          <i class="fal fa-chart-pie-alt"></i>
          <span class="menu-title">Chi phí chuyển đổi</span>
        </a>
      </li>
    </ul>
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class=" navigation-header">
        <span>Sale</span>
      </li>
      <li class="nav-item">
        <a href="chat-application.html" class="h-100 d-flex align-items-center w-100">
          <i class="fal fa-chart-pie-alt"></i>
          <span class="menu-title">Tài khoản quảng cáo</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="chat-application.html" class="h-100 d-flex align-items-center w-100">
          <i class="fal fa-chart-pie-alt"></i>
          <span class="menu-title">Chi phí chuyển đổi</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="align-items-center d-flex h-100 w-100">
          <i class="ft-share"></i>
          <span class="menu-title">Timelines</span>
        </a>
        <ul class="menu-content">
          <li>
            <a class="menu-item" href="timeline-center.html">Timelines Center</a>
          </li>
          <li>
            <a class="menu-item" href="timeline-horizontal.html">Timelines Horizontal</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="#" class="align-items-center d-flex h-100 w-100">
          <i class="ft-share"></i>
          <span class="menu-title">Timelines</span>
        </a>
        <ul class="menu-content">
          <li>
            <a class="menu-item" href="timeline-center.html">Timelines Center</a>
          </li>
          <li>
            <a class="menu-item" href="timeline-horizontal.html">Timelines Horizontal</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
