
<app-page-title PageTitle="Cấu hình tài khoản"></app-page-title>
<div class="row match-height">
  <div class="col-xl-2 col-md-6 col-sm-12">
    <div class="card">
      <div class="card-content">
        <ul class="list-group list-group-flush">
          <li class="list-group-item ui-tab-selected">
            <img src="../../assets/images/icons/user.png" class="ml-1 mr-1" />
            Thông tin tài khoản
          </li>
          <li class="list-group-item">
            <img src="../../assets/images/icons/lock.png" class="ml-1 mr-1" />
            Đặt/Đổi mật khẩu
          </li>
          <li class="list-group-item">
            <img src="../../assets/images/icons/warehouse.png" class="ml-1 mr-1"/>
            Cấu hình địa chỉ lấy hàng
          </li>
          <li class="list-group-item">
            <img src="../../assets/images/icons/users.png" class="ml-1 mr-1" />
            Cấu hình nhân viên
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xl-9 col-md-6 col-sm-12">
    <router-outlet></router-outlet>
  </div>
</div>
